// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~normalize.css';

#app {
  width: 700px;
  margin: 0 auto;
}

html {
	height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 600px;
  min-height: 400px;
}

li {
	list-style: none;
}

.github-icon {
  font-size: 56px;
}

.login {
	&-container {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
	}
	&-title {
		justify-content: center;
	}
	&-contents {
		text-align: center;
		padding-bottom: 16px;
	}
	&-icon {
		margin-bottom: 16px;
	}
	&-button {
		background-color:　#333333;
		border-radius: 3px;
		color: #fff;
		padding: 8px;
	}
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	&-search {
		display: flex;
		justify-content: space-around;
		align-items: center;
		&-box {
			border: 1px solid;
			border-radius: 5px;
			margin-right: 8px;
		}
	}
}

.categories {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.category {
	&-all {
	  color: #dc143c;
	}
	&-front {
	  color: #1e90ff;
	}
	&-back {
	  color: #ff69b4;
	}
	&-infra {
	  color: #ffa500;
	}
	&-other {
    color: #000000
	}
}